* {
    box-sizing: border-box;
  }
  
  :root{
    background-color: #E0E8EA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 250px ;
    
    }
    
    .btn {
    background-color: #3D7C92;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 60px;
    margin: 20px 40px;
    font-size: 25px;
    border-radius: 10px;
    
  }
  
  header {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 85%;
  }

  #view-high-scores:hover {
      cursor: pointer;
      color: #24B2E3;
  }

  header h4 {
      padding-left: 20px;
      font-size: 20px;
      display: inline;
  }

  
 .timer {
      font-size: 20px;
      color: #343D40;
      display: inline;
      text-align: right;
      padding-right: 20px;
  }


.container {
      padding: 20px;
      width: 50%;
      margin: auto;
      
  }

  
 h1 {
    color: #343D40 ;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    color: #343D40 ;
    font-size: 25px;
  }

  .start {
    align-items: center;
    text-align: center;
    }
  
 .start h1, .start p {
     text-align: center;
 }

  .questions {
   display: inline-flex;
    padding: 40px 20px;
    margin: 0;
  }

  .end h1, .end p {
      text-align: left
  }

  .end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 2.2rem;
    border-radius: 5px;
  }

  .end input:focus {
    border: 2px solid #343D40;
  }

  .show {
      display: flex;
  }

  .hide {
      display: none;
  }

  #question {
    color: #343D40 ;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }

  #high-score {
      text-align: left;
  }

  .btn:hover {
      background:#24B2E3;
      border-radius: 10px;
      cursor: pointer;
  }

  .btn:active {
      border: none;
      outline: none;
  }

  .btn:focus {
      outline: none;
  }

  .btn-grid {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-gap: 5px;
      margin: 20px 0;
  }

 .startend {
     width: 45%;
     margin-top: 10px;
 }

 .answerbtn {
     width: 100%;
     text-align: left;
     font-size: 30px;
 }

 .banner {
     font-size: 25px;
     text-align: center;
     color: #343D40;
     font-style: italic;
     margin: 0 100px;
 }

.banner h2 {
    border-top: 2px solid #343D40;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
 
 ol {
    list-style-type: number;
 }

 li:nth-child(odd) {
     background-color:#6DA7BB  ;
 }


li {
    font-size: 4.0vw;
}

@media screen and (max-width: 780px) {

    .btn {
        display: flex;
        width: 100%;
        font-size: 20px;
    }

    #question {
        display: flex;
        font-size: 20px;
    }

    h1 {
        display: flex;
        font-size: 25px;
    }

    p {
        display: flex;
        font-size: 20px;
    }

}


